* {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/cool-background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.aboutme {
  font-size: 24px;
}

.btn-block {
  width: 100%;
  display: block;
}

.welcome,
.aboutme,
.projects,
.contacts {
  min-height: 100vh;
  overflow: hidden;
}

.welcome p {
  font-size: 64px;
  margin: auto;
  animation: AnimationWelcome 1s ease-in-out, glow 2.5s linear infinite;
}

.myPhoto {
  max-height: 300px;
  max-width: 300px;
  float: left;
}
.MainMe {
  max-width: 70%;
  background-color: black;
  overflow: hidden;

  animation: MainMeApearing 1s ease-in-out;
}

.MainMe:hover img {
  opacity: 0.5;
  transform: scale(1.1);
}

.MainMe img {
  transition: 1s;
}

.img-hover-zoom {
  background-color: black;
  overflow: hidden;
}

.img-hover-zoom img {
  transform-origin: 30% 10%;
  transition: transform 1s, opacity 0.5s ease-out;
}

.img-hover-zoom:hover img {
  opacity: 0.5;
  transform: scale(1.5);
}

.contacts form {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 991px) {
  .myPhoto {
    float: none;
  }
  .contactsNav {
    max-width: 121px;
    margin: 0 auto;
  }
}

@keyframes AnimationWelcome {
  from {
    transform: translateY(-250px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes MainMeApearing {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

footer div {
  font-size: 24px;
  width: 100%;
}
