body{
	margin: 0;
	padding: 0;
} 

.wraper{
	max-width: 1180px;
	margin: 0 auto;
	height: 100%;
	padding: 0 5px;
	overflow: hidden;
}

.row{
	border: 1px solid #ff0;
	/*display: flex;*/
}

section.profit{
	background: #232324;
	padding: 15px 0;
}

section.profit .row{
	display: flex;
	flex-wrap: wrap; /*элементы могут переноситься*/
	justify-content: center;
	justify-content: space-around;
}

section.profit .item{
	text-align: center;
	flex-basis: 300px;/* типа min-width: */
	margin: 15px;
	width: 25%;
}

section.profit .item .subtitle{
	color: #fff;
	font-size: 1.5rem;
	margin: 3px 0;
}

section.profit .item .text{
	color: #d94948;
}